#app {
    width: 65vw;
}
#header {
    margin-top: 15vh;
}

.center-text {
    text-align: center;
}
.right-text {
    text-align: right;
}
.info {
    text-decoration: wavy;
}

/*Blackish: #202020

Dark Grey: #3F3F3F

Medium Grey: #707070

Egg Yellow: #FFD6C

White: #FFFFFF*/