body {
    background-color:  #164A41 !important;
    color: #FFF !important;
}
#app {
    width: 65vw;

}

#header {
    margin-top: 10vh;
}

.center-text {
    text-align: center;
}
.right-text {
    text-align: right;
}
.left-text {
    text-align: left;
}
.button {
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: #F1B24A;
    border: #FFF 2px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 15px;
}
.button:hover {
    background-color: #f1b14ad7 !important
}
